.github - corner: hover.octo - arm {
    animation: octocat - wave 560 ms ease - in -out
}

@keyframes octocat - wave {
    0 % ,
        100 % {
            transform: rotate(0)
        }
    20 % ,
        60 % {
            transform: rotate(-25 deg)
        }
    40 % ,
        80 % {
            transform: rotate(10 deg)
        }
}

@media(max - width: 500 px) {
    .github - corner: hover.octo - arm {
            animation: none
        }
        .github - corner.octo - arm {
            animation: octocat - wave 560 ms ease - in -out
        }
}
