#editor {
    min-height:200px;
}

.button-right{
    float:right;
    margin-bottom: 3px;
}

.page-title-container{
    overflow: auto;
    text-align: center
}

.row{
  margin-top:5px;
}

.curl_cmd_container {
  left:auto;
  transform:0;
  position:fixed;
  bottom:0px;
  z-index: 10;
}

.curl_cmd_container_placeholder {
  height: 130px;
}

.curl_cmd_well {
  background: #d9d9d9;
  border: 1px solid;
  padding-top:5px;
  padding-bottom:5px;
}

.compact-row{
  margin-top:0;
  margin-bottom:0;
}

#curl_cmd{
    resize: none;
}

@media(max-width:767px){}
@media(min-width:768px){
  .header .header-input{
    width:49%;
  }

  .query-param .query-param-input{
    width:49%;
  }

  .auth .auth-input{
    width:49%;
  }

  .curl_cmd_container {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media(min-width:992px){}
@media(min-width:1200px){}
